body {
  background: url(../img/img6.jpg) no-repeat;
  height: 100vh;
}
.box {
  width: 50%;
  max-width: 760px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
}
.box ul {
  width: 100%;
  overflow: hidden;
}
.box ul li {
  margin-bottom: 10px;
}
.box ul li div {
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  overflow: hidden;
  font-size: 15px;
  line-height: 40px;
  height: 40px;
  color: #333;
  background: url(../img/icon4a.png);
  border-top-left-radius: 4px;
}
.box ul li div span {
  float: right;
  display: inline-block;
  background: url(../img/icon4b.png) no-repeat center;
  background-size: 28px 28px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 11;
}
.box ul li p {
  display: none;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
}
.active {
  background: url(../img/flow1.png) no-repeat center !important;
  background-size: 28px 28px !important;
}
@media screen and (max-width: 1024px) {
  .box {
    width: 60%;
  }
  .box ul li div {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .box {
    width: 80%;
  }
  .box ul li div {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .box {
    width: 100%;
  }
  .box ul li div {
    font-size: 12px;
  }
}
